<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="color:white" class="navbar-brand" href="/">
        Rotten Potatoes
      </a>
    </div>
    <div class="pull-right">
      <a style="color:white" href="/" class="btn navbar-btn">Home</a>
    </div>
  </div>
</nav>