
<fieldset>
  <br><br>
  <!-- TITLE -->
  <p>
    <input type="hidden" name="movieId" value="{{movieId}}">
<div class="form-group">
    <label for="review-title">Title</label><br>
    <input class="form-control" id="review-title" type="text" name="title" value="{{review.title}}"/>
  </p>

  <!-- DESCRIPTION -->
  <p>
    <label for="review-description">Description</label><br>
    <textarea class="form-control" id="review-description" name="description" rows="20" />{{review.description}}</textarea>
  </p>

  </div>
</fieldset>