<h1>Now Playing</h1>
<br>
{{#each movies}}
<div class="col-sm-3">
  <a href="/movies/{{this.id}}">
    <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}"/>
    <br><br>
  </a>
</div>
{{/each}}